<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <a href="/">Registro</a>
    <a href="/users">Usuarios</a>

    <main>
        <form action="/" method="POST">
            <div>
                <label for="nameU">Nombre de Usuario</label>
                <input name="nameU" id="nameU">
            </div>

            <div>
                <label for="lastNameU">Apellido de Usuario</label>
                <input name="lastNameU" id="lastNameU">
            </div>

            <button type="submit">Agregar nombre</button>
        </form>
    </main>
</body>
</html>